@page "/"
@using Services
@inject AuthService Auth

<h3>Login</h3>

<input @bind="email" placeholder="Email" />
<input @bind="senha" type="password" placeholder="Senha" />

<button @onclick="FazerLogin">Entrar</button>


@code {
    private string email;
    private string senha;
    private string mensagem; // Variável para mostrar na tela

    private async Task FazerLogin()
    {
        try
        {
            var token = await Auth.Login(email, senha);
            mensagem = $"Sucesso! Token recebido: {token.Substring(0, 10)}...";
            Console.WriteLine($"Token: {token}");
        }
        catch (Exception ex)
        {
            mensagem = $"Erro: {ex.Message}";
        }
    }
}

<p>@mensagem</p>