@page "/"
<PageTitle>Home</PageTitle>
@using Blazor.Application.DTOs.Produto
@using Blazor.Components.Produtos
@using Application.Services
@inject ProdutoService ProdutoSvc



<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold text-secondary">Nossos Produtos</h2>
        <span class="badge bg-primary">@produtos.Count itens encontrados</span>
    </div>

    @if (produtos == null)
    {
        <div class="d-flex justify-content-center my-5">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Carregando...</span>
            </div>
        </div>
    }
    else if (!produtos.Any())
    {
        <div class="alert alert-info text-center">
            Nenhum produto disponível no momento.
        </div>
    }
    else
    {
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
            @foreach (var produto in produtos)
            {
                <CardProduto produto="produto" />
            }
        </div>
    }
</div>



@code {

    public List<ProdutoResponseDto> produtos = new();

    protected override async Task OnInitializedAsync()
    {
        produtos = await ProdutoSvc.Listar();
    }
}

